{% block content %}

Úkol číslo<span class="badge bg-secondary"> {{assignment.order}}</span>
<p>Zadání:</p>
<p>{{ assignment.description }}</p>
<p><a href="/media/{{ assignment.data }}" download>Přílohy ke stažení</a></p>
<p>Správná odpověď:</p>
<p><i>Zadej číslo ve formátu dvou desetinných míst s tečkou a bez mezer mezi tisíci. Například "1234567.89". Varianty jako "1234567,89" nebo "1 234 567.89" budou vyhodnoceny jako chybná odpověď.</i></p>
<p>{{ RightAnswer.answer }}</p>

<form method='POST' action="." enctype="multipart/form-data">{% csrf_token %} {{form.as_p}}
    <button type='submit' class='{{ btn_class }}'>{% if submit_btn %} {{ submit_btn }} {% else %}Odeslat {% endif %}</button>
</form>

{% endblock %}