{% extends "base.html" %}

{% block content %}

<h1>Úkol číslo<span class="badge bg-secondary"> {{assignment.order}}</span></h1>
<h2>Zadání:</h2>
<p>{{ assignment.description }}</p>
<p><a href="/media/{{ assignment.data }}" download>Přílohy ke stažení</a></p>
<h2>Správná odpověď:</h2>
<p><i>Zadej číslo ve formátu dvou desetinných míst s tečkou a bez mezer mezi tisíci. Například "1234567.89". Varianty jako "1234567,89" nebo "1 234 567.89" budou vyhodnoceny jako chybná odpověď.</i></p>
<p>{{ RightAnswer.answer }}</p>

<form method='POST' action="." enctype="multipart/form-data">{% csrf_token %} {{form.as_p}}
    <button type='submit' class='btn btn-primary'>{% if submit_btn %} {{ submit_btn }} {% else %}Odeslat {% endif %}</button>
</form>

{% endblock %}