{% extends "base.html" %}

{% block content %}
<h2>O čem to celé bude?</h2>
<p align="justify">
  Během Data Games budeš ve dvoučlenném týmu řešit sadu připravených úkolů a postupně pátrat v datech po
  odpovědích na otázky. Odpověď zadáš do aplikace a pokud bude správná, zobrazí se ti zadání dalšího úkolu.
<br/> <br/>
  Aby sis představila, co tě čeká, tak můžeš se svou parťačkou hledat třeba průměrný věk zaměstnanců firmy
  k určitému datu, kdy budeš mít k dispozici tabulku s daty narození zaměstnanců a tabulku s datem jejich
  nástupu a odchodu.
<br/> <br/>
  Týmy budou mít stejné úkoly a ty je budeš chtít vyřešit nejrychleji ze všech.
<br/> <br/>
  V průběhu Data Games můžeš používat libovolné zdroje na internetu (jako je třeba dokumentace nebo
  Stack Overflow) a požádat o menší radu kouče. Týmy se ale nesmějí radit mezi sebou nebo žádat o radu
  někoho „zvenku”.
<br/> <br/>
  Zažiješ atmosféru hackatonu s networkingem, občerstvením a soutěživou atmosférou!
</p>

<h2>Co si vyzkoušíš?</h2>
<p align="justify">
<li> Procvičíš si své znalosti na úkolech z reálného života </li>
<li> Pod vedením zkušených koučů se jistě naučíš mnoho nového </li>
<li> Na úkoly nebudeš sama, ale budeš pracovat v týmu </li>
</p>

<h2>Pro koho je hackathon určen?</h2>
<p align="justify">
<li> Pro ženy, které jsou mírně pokročilé v datové analýze a chtějí si své znalosti a zkušenosti otestovat na reálných datech </li>
</p>


<hr size="1500" color="#2d2e83" align="center" noshade>

<h2 style = "margin-top:30px">Seznam všech událostí</h2>

<table style = "margin-top:25px"
       class="table">
  <tr>
    <th>Název</th>
    <th>Začátek</th>
    <th>Konec</th>
    <th>Popis</th>
    <th>Odkaz</th>
  </tr>

  {% for object in object_list %}

  <tr>
    <td> {{ object.title }} </td>
    <td>{{ object.start|date}}, {{object.start|time}} </td>
    <td>{{ object.end }}</td>
    <td>{{ object.description }}</td>
    <td> {% if object.is_currently_running%}
      <a style="color: #2d2e83" href="{% url 'assignment' %}">První úkol</a> {% endif%}</td>
  </tr>

  {% endfor %}
</table>

{% endblock %}